@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

/*PORTADA PORTAFOLIO*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}
.container{
    height: 100vh;
    display: flex;
}
.info {
    width: 235px;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.info-personal{
    margin-bottom: 30px;
}
.info-personal .foto{
    border-radius: 50%;
    display: block;
    margin: auto;
    border: 5px solid #484848;
}
.info-personal span{
    font-size: 20px;
    color: #fff;
}
.info-personal p{
    font-size: 16px;
    color: #8a8a8a;
}
nav ul{
    list-style: none;
}
nav ul li{
    margin: 15px 0;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}
nav ul li a:hover{
    color: #dc3545;
}
.seleccionado{
    color: #dc3545;
}
.portada{
    width: 100%;
    background: linear-gradient(
    rgba(0,0,0,.6),
    rgba(0,0,0,.6)), url(img/foto-portada.jpg);
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.portada h1{
    font-size: 68px;
    color: #fff;
}
.portada h1 .rojo{
    color: #dc3545;
}
.portada p{
    font-size: 32px;
    color: #fff;
}
.boton{
    text-decoration: none;
    display: block;
    width: 180px;
    margin: 0 auto;
    background-color: transparent;
    border: 4px solid #dc3545;
    margin-top: 30px;
    padding: 10px 0 ;
    border-radius: 50px;
    color: #fff;
    font-size: 20px;
}
.enlbot{
    text-decoration: none;
    color: inherit;
}
.boton:hover{
    background-color: #000;
}

/*BARRA NAVEGACIÓN EN PÁGINAS*/
.wrapper {
    width:100w;
    height: 100w;
    color: #fff;
    background-color:#121212;
}
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 2em;
  }
  
  .brand {
    margin-top: -7px;
  }
  
  .brand span {
    color: #dc3545;
  }
  
  .menu {
    display: flex;
    width: 45%;
    justify-content: space-around;
    font-size: 20px;
  }
  
  .menu li {
    list-style: none;
  }
  
  .menu a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
  }
  .menu .active {
    color: #dc3545;
  }
  
  .menu a:hover {
    border-radius: 25%;
    background-color:  #dc3545;
    color:#000000;
  }
/*SOBRE MÍ*/
body{
    background-color: #121212;
}
.main {
    margin: 0 auto;
    width: 90vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    color: #fff;
    text-align: justify;
  }
  .main img {
    margin: 20px;
    border-radius: 20%;
    width: 420px;
    border: 7px solid rgb(220, 53, 69);
    height: 550px;
  }
  .main h1{
    font-size: 3em;
  }
  
  .main span{
    color: #dc3545;
  }
  
  .download-cv {
    color: #fff;
    padding: 10px 20px;
    background-color: #121212;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 1px 3px 11px 5px rgba(46, 46, 46, 0.69);
  }
  .download-cv:hover {
    background-color: #dc3545;
    box-shadow: none;
  }

/*Actividades y empresas de interés*/
.spangg{
    color: #dc3545;
}
.act {
    width: 80w;
    height: 80w;
    color: #ffffff;
    padding: 20px;
    height: 100vh;
}
.act_headings {
    width: 80vw;
    padding: 10px;
  }
  
  .act-headings h2 {
  font-size: 3em;
  }
  
  .act .container {
    width: 80vw;
    height: 60vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  
  .card {
    width: 470px;
    height: 500px;
    background-color: #484848;
    margin: 1em;
  }
  
  .card_img {
    width: 100%;
    height: 300px;
    background-image: url(../img/proyectofuturo2.jpg);
    background-size: cover;
  }
  
  .card_title {
    padding: 20px;
  }
  
  .card_projects-links {
    display: flex;
    justify-content: space-evenly;
    height: 120px;
  }
  
  .card .project-details {
    margin:0 auto;
    width: 90%;
    margin: 1em;
  }
  .card .project-details a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
  }

  /*Contacto*/
  .contacto {
    background-color: #121212;
    color: #fff;
    padding: 20px;
    height: 100vh;
  }
  .container-contact {
    display: flex;
    justify-content: space-around;
  
  }
  
  .contact-headings h2 {
    font-size: 3em;
  }
  
  
  .container-contact img {
    width: 600px;
    height: 750px;
    bottom: 2px;
    opacity: .4;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin-top: 2em;
  }
  
  .form input {
    padding: 10px 20px;
    margin-bottom: 1em;
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
  }
  
  .form textarea{
    height: 150px;
    background: none;
    color: #fff;
    padding: 1,5em;
    border: 1px solid #fff;
  }
  
  .btn-submit {
    padding: 10px 20px;
    color: #fff;
    margin: 1em;
    border: none;
    text-transform: uppercase;
    background-color:#121212;
    cursor: pointer;
    box-shadow: 1px 3px 11px 5px rgba(46, 46, 46, 0.69);
  }
  
  .btn-submit:hover{
    background-color: #dc3545;
    box-shadow: none;
  }
  
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 200px;
    background-color: #121212;
  }
  
  .footer-content h2{
    font-size: 3em;
  }
  
  .footer-content h5{
    text-align: center;
    font-size: 1.5em;
  }
  
  .social-network {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1em;
    width: 250px;
  }
  
  .social-network img{
    width: auto;
    height: 60px;
  }
  hr{
    background-color: #dc3545;
    border: 0;
    height: 3px;
  }